<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>UserManagement</servlet-name>
		<servlet-class>um.UserManagementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SubscribeUser</servlet-name>
		<servlet-class>um.servlet.SubscribeUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserManagement</servlet-name>
		<url-pattern>/usermanagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SubscribeUser</servlet-name>
		<url-pattern>/guest/subscribeuser</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>guest/guest.html</welcome-file>
	</welcome-file-list>

	<!-- SECURE NETWORK TRANSPORT -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>securedapp</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
